body{
	font-family: Roboto thin;
  background-color: #fff;
	/*background-color: #258b5a;*/
  color: #000;
}
p{
  line-height: 20px;
}
a{
  display: block;
  color: #000;
  text-decoration: none;
}
a:hover{
  display: block;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:focus{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.logo{
  width: 100%;
}

.home_content{
  margin-top: 25%;
}
.home{
  margin-bottom: 25px;
}

.button_login{
  text-align: center;
  padding: 5px;
  margin-top: 25px;
  width: 100%;
  background: linear-gradient(to top right, #33cc66, #3399ff);
  border-radius: 5px;
}
.button_signup{

  text-align: center;
  padding: 5px;
  margin-top: 25px;
  width: 100%;
  background: linear-gradient(to top right, #66cc99, #6699ff);
  border-radius: 5px;
}

.button_subscribe{
  font-size: 12px;
  text-align: center;
  padding: 5px;
  width: 100%;
  background: linear-gradient(to top right, #33cc66, #3399ff);
  border-radius: 5px;
}

.button_unsubscribe{
  font-size: 12px;
  text-align: center;
  padding: 5px;
  width: 100%;
  /*background: linear-gradient(to top right, #3399ff, #33cc66);*/
  border-radius: 5px;
}



.main_menu{
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.header_item{
  text-align: center;
  font-size: 25px;
  padding: 5px 0;
}
.button_send_article{
  width: 100%;
}
.button_border{
  border-top: solid 1px #6699ff;
  border-right: solid 1px #99cccc;
  border-bottom: solid 1px #66cc99;
  border-left: solid 1px #99cc99;
}

.button_border_exit{
  border:solid 1px red;
}
.button_logout{

  text-align: center;
  padding: 5px;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  
}

.form-login>input{
  margin-bottom: 15px;
}
.p_color{
  color: #fff;
}
.is-focused{
  color: #fff;
}
.mainpage{
  padding: 10px;
}
.content{
  padding: 20px;
}
.register{
  color: #fff;
}
.settings{
	float: right;
}
.afterBlock{
  margin-bottom: 20px; 
}
.personBlock{
  width: 100%;
}
.personPhoto{
}
.personPhoto>.photo{
  width: 100%; 
  border-radius: 50%;
}
.personName{
  text-align: center;
  margin-top: 5%;
}
.personName_name{
  font-size: 25px;
}
.personName_surname{
  font-size: 27px;
  font-weight: bold;
}
.personName_city_year{
  font-size: 18px;
  font-weight: lighter;
  opacity: 1;
  word-wrap: break-word;
}
.personBlock_criteria{
  opacity: 0.7;
}
.personBlock_contacts{
  font-size: 22px;
}
.personBlock_info{
  font-size: 22px;
  word-wrap: break-word;
}
.facultyBlock{
  margin-top: 10px;
  width: 100%;  
  
  text-align: center;
}
.faculty{
  font-size: 23px;
}
.course{
  font-size: 27px;
  margin-top: 20px;
}

.menu{
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
}
.item_menu{
  margin: 20px 0;
}
.item_menu_number{
  font-size: 54px;
}
.item_menu_name{
  font-size: 25px;
}



.subscribers{ 
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}




.left_news_class{
  color: #000;
}
.news{
  margin-bottom: 50px;
}
.news_author_photo .photo{
  width: 100%;
  border-radius: 50%;
}
.news_author_info_name{
  font-size: 21px;
  font-weight: bold;
}
.news_author_info_date{
  font-size: 14px;
  opacity: 0.8;
}
.news_content{
  margin-top: 10px;
  font-size: 21px;
}
.news_content_text{
}
.news_content_hashtag{
  float: left;
  color: #258b5a;
}
.news_content_image{
  margin: 20px 0;
}
.news_content_image>.photo{
  width: 100%;
}



.content_signin{
  margin: 0 auto;
}




.input_new{
  margin: 25px 0;
}
.news_send_button{
  float: right;
}

.preloader{
  text-align: center;
  margin: 50% 0;  
}