<div class="preloader" data-ng-hide="ready">
        <img src="img/pre.svg">
    </div>
<div data-ng-show="ready" id="left_news" class="left_news_class">
    <div class="container">                
       

        <div class="input_new">
           <textarea class="form-control" data-ng-model="article.Text" name="content" placeholder="Что у вас нового?"></textarea>

           <input type="text" class="form-control" id="555" data-ng-model="article.ShortDescription" placeholder="тэги" >


            <a href="javascript:void(0)" data-ng-click="sendArticle()" class="button_send_article button_border">Отправить</a>
        </div>


        <div class="news" ng-repeat="article in articles | orderBy:'-Id'">
            <div class="news_author">
                <div class="row">
                    <div class="col-xs-3 news_author_photo">
                        <a href="#/user/{{article.UserId}}"><img class="photo" src="img/avatar.jpg"></a>
                    </div>
                    <div class="col-xs-7 news_author_info">
                        <div class="row">
                            <div data-ng-show="article.User.Name || article.User.Surname" class="news_author_info_name">
                                <a href="#/user/{{article.UserId}}">
                                    {{article.User.Name}} {{article.User.Surname}}
                                </a>
                                
                            </div>
                            <div data-ng-hide="article.User.Name || article.User.Surname" class="news_author_info_name">
                                <a href="#/user/{{article.UserId}}">
                                {{article.User.UserName}}
                                </a>
                            </div>
                            <div class="news_author_info_date">
                                {{article.PublishDate | date:"dd MMMM yyyy 'at' HH:mm": 'UTC'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <span data-ng-hide="authentification.userId != article.UserId" data-ng-click="deleteArticle(article.Id)" class="glyphicon glyphicon-remove"></span>
                    </div>  
                </div>
            </div>
            <div class="news_content">
                <div class="news_content_text">
                    {{article.Text}}
                </div>
                
                <div data-ng-show="article.ShortDescription" class="news_content_hashtag">
                    {{article.ShortDescription}} 
                </div>
                
                <div data-ng-show="article.ImageUrl" class="news_content_image">
                    <img class="photo" src="{{article.ImageUrl}}">
                </div>
            </div>
        </div>



       


    </div>
</div>