
<div class="row">
    <div class="col-xs-1">
        &nbsp;
    </div>
    <div class="col-xs-10">
        


            <form class="form-login" role="form">
                <h2 class="form-login-heading">Редактирование профиля</h2>

                <!--<div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" data-ng-model="profileInfo.ProfileImageUrl" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>-->



                <label for="555" class="control-label">Имя</label>
                <input type="text" class="form-control" id="555" data-ng-model="profileInfo.Name" placeholder="{{user.Name}}" required autofocus>
                <label for="555" class="control-label">Фамилия</label>
                <input type="text" class="form-control" id="555" data-ng-model="profileInfo.Surname" placeholder="{{user.Surname}}" required>

                



                <label for="555" class="control-label">Email</label>
                <input type="email" class="form-control" id="555" data-ng-model="profileInfo.Email" placeholder="{{user.Email}}" required>

                <label for="555" class="control-label">Номер телефона</label>
                <input type="text" class="form-control" id="555" data-ng-model="profileInfo.PhoneNumber" placeholder="{{user.PhoneNumber}}" required>

                <label for="555" class="control-label">Информация о себе</label>
                <textarea class="form-control" data-ng-model="profileInfo.Information" name="content" placeholder="{{user.Information}}"></textarea>
                
                <a href="javascript:void(0)" class="button_signup" data-ng-click="editUserProfile()">OK</a>


                
                <div data-ng-hide="message == ''" data-ng-class="(editedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
            </form>


           

    </div>

     

    <div class="col-xs-1">
        &nbsp;
    </div>


   

</div>