<div class="row home_content">
    <div class="col-xs-2">
        &nbsp;
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12 home">
                <img src="img/logo.png" class="logo">
            </div>
            <div class="col-xs-6 home">
                <a class="btn button_login" href="#/login" role="button">Login</a>
            </div>
            <div class="col-xs-6 home">
                <a class="btn button_signup" href="#/signup" role="button">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        &nbsp;
    </div>
</div>
