<form class="form-login" role="form">
    <h2 class="form-login-heading">Login</h2>


    <label for="555" class="control-label">Login</label>
    <input type="text" class="form-control" id="555" data-ng-model="loginData.userName" required autofocus>


    <label for="555" class="control-label">Password</label>
    <input type="password" class="form-control" id="555" data-ng-model="loginData.password" required>
    <!--<input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>-->

    <a href="javascript:void(0)" class="btn btn-raised btn-lg" data-ng-click="login()">OK</a>

    <!--<button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>-->
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>
</form>
