<div id="left_news" class="left_news_class">
    <div class="container">                
       

        <div class="input_new">
           <textarea class="form-control" name="content"placeholder="Что у вас нового?"></textarea>
            <button href="javascript:void(0)" class="btn btn-raised btn-primary news_send_button">Отправить</button>
        </div>


        <div class="news">
            <div class="news_author">
                <div class="row">
                    <div class="col-xs-4 news_author_photo">
                        <img class="photo" src="img/avatar.jpg">
                    </div>
                    <div class="col-xs-8 news_author_info">
                        <div class="row">
                            <div class="news_author_info_name">
                                Вася Макарчук
                            </div>
                            <div class="news_author_info_date">
                                Сегодня в 15:04
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news_content">
                <div class="news_content_text">
                    Закончил работу над своим новым проектом. Цените на гитхабе @darthvasya )))
                </div>
                <div class="news_content_hashtag">
                    #justdoit 
                </div>
                <div class="news_content_hashtag">
                    #paynixalive 
                </div>
                <div class="news_content_image">
                    <img class="photo" src="img/avatar.jpg">
                </div>
            </div>
        </div>



       


    </div>
</div>